@mixin logo {
  display: flex;
  align-items: center;

  .logo__first-letter {
    margin-right: $lem / 4;

    .circle {
      @include circle($lem + $lem / 2, $border);
    }
  }

  .logo__site-title, .logo__first-letter {
    @include text-style(logo);
  }
}
